In [3]:
!pip install pysqlite3

Collecting pysqlite3
  Downloading pysqlite3-0.5.4.tar.gz (40 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py): started
  Building wheel for pysqlite3 (setup.py): finished with status 'error'
  Running setup.py clean for pysqlite3
Failed to build pysqlite3

  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> [10 lines of output]
      running bdist_wheel
      running build
      running build_py
      creating build\lib.win-amd64-cpython-312\pysqlite3
      copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-312\pysqlite3
      copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-312\pysqlite3
      running build_ext
      Builds a C extension linking against libsqlite3 library
      building 'pysqlite3._sqlite3' extension
      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for pysqlite3
ERROR: Failed to build installable wheels for some pyproject.toml based projects (pysqlite3)

In [ ]:
import sqlite3
##creating an sqllite connection

In [6]:
connection = sqlite3.connect('example.db')
connection

In [7]:
#we need to create a cursor
cursor=connection.cursor()

In [8]:
##create a table
cursor.execute('''
Create Table If Not Exists Employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
               )
            ''')
#commit the chaanges
connection.commit()

In [9]:
cursor.execute('''
Select * From employees''')

In [11]:
#Insert data in sqlite table
cursor.execute('''
Insert Into employees (name , age , department)
VALUES ('Abhi' ,20 ,'Engineering')
                ''')

cursor.execute('''
Insert Into employees (name , age , department)
VALUES ('Akash' ,10 ,'Inetrior Designer')
                ''')

cursor.execute('''
Insert Into employees (name , age , department)
VALUES ('Aman' ,11 ,'Pharma')
                ''')

##commit the changes

connection.commit()

In [13]:
##querying the data from table itself
cursor.execute('Select * from employees')
rows = cursor.fetchall()

#print the queried data
for row in rows:
    print(row)

(1, 'Abhi', 20, 'Engineering')
(2, 'Abhi', 20, 'Engineering')
(3, 'Akash', 10, 'Inetrior Designer')
(4, 'Aman', 11, 'Pharma')

In [18]:
##updating data from the table
cursor.execute(
    '''
UPDATE employees
Set age =34
where name = "Abhi"
'''
)
connection.commit()

In [19]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

#print the queried data
for row in rows:
    print(row)

(1, 'Abhi', 34, 'Engineering')
(2, 'Abhi', 34, 'Engineering')
(3, 'Akash', 10, 'Inetrior Designer')
(4, 'Aman', 11, 'Pharma')

In [21]:
##deleting data from table
cursor.execute('''
Delete from employees
               where name="Abhi"''')

connection.commit()

In [22]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows :
    print(row)

(3, 'Akash', 10, 'Inetrior Designer')
(4, 'Aman', 11, 'Pharma')

In [24]:
cursor.execute(
    '''
    Insert into employees ('name','age','department')
     VALUES ("Abhi",'19','Comp.Science')
    '''
)

connection.commit()

In [26]:
cursor =cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(3, 'Akash', 10, 'Inetrior Designer')
(4, 'Aman', 11, 'Pharma')
(5, 'Abhi', 19, 'Comp.Science')

In [29]:
##working with sales data
connection=sqlite3.connect('Sales')
cursor=connection.cursor()

#create a table for sales data
cursor.execute('''
  CREATE TABLE IF NOT EXISTS sales (
               id Integer Primary KEY,
               date TEXT NOT NULL,
                product TEXT NOT NULL,
               sales Inetger,
               region TEXT)
        ''')
#INSERING DATA INTO THE TABLE
sales_data = [
    ( '2025-05-22', 'Laptop', 1500, 'North America'),
    ( '2025-05-21', 'Smartphone', 1200, 'Europe'),
    ( '2025-05-20', 'Tablet', 800, 'Asia'),
    ( '2025-05-19', 'Smartwatch', 500, 'South America')
]

cursor.executemany('''
Insert into Sales (date , Product ,sales,region)
                   VALUES(?,?,?,?)
                   ''',sales_data)

connection.commit()

In [30]:
cursor =connection.cursor()
rows=cursor.execute('Select * from Sales')

for row in rows :
    print(row)

(1, '2025-05-22', 'Laptop', 1500, 'North America')
(2, '2025-05-21', 'Smartphone', 1200, 'Europe')
(3, '2025-05-20', 'Tablet', 800, 'Asia')
(4, '2025-05-19', 'Smartwatch', 500, 'South America')