In [1]:
import sqlite3

In [ ]:
def dv_connection(name):
    global connection, cursor
    connection = sqlite3.connect(name)
    cursor = connection.cursor()
    adding_emp()

def adding_emp():
    cursor.execute('''
     Create Table If Not Exists employees (
                   id Integer,
                   name Text NOT NULL,
                   age Integer,
                   department Text NOT NULL
                   )
    ''')
    connection.commit()

dv_connection("Te_st.db")

In [8]:
def insert_ion():
    cursor.execute('''
Insert into employees (id ,name,age,department)
                   VALUES ("1","Abhishek","19","Engg.") ,
                    ("2", "John", "25", "HR"),
           ("3", "Alice", "30", "Finance"),
           ("4", "Bob", "22", "Marketing"),
           ("5", "Eve", "28", "IT")

                   ''')
    
    connection.commit()
insert_ion()

In [9]:
def print_data():
    cursor.execute('Select * from employees')
    rows = cursor.fetchall()

    for row in rows :
        print(row)
print_data()

(1, 'Abhishek', 19, 'Engg.')
(1, 'Abhishek', 19, 'Engg.')
(2, 'John', 25, 'HR')
(3, 'Alice', 30, 'Finance')
(4, 'Bob', 22, 'Marketing')
(5, 'Eve', 28, 'IT')